[Unit]
Description=Cooldown Flask app
After=network.target redis-server.service
Requires=redis-server.service
[Service]
User=pi
WorkingDirectory=/home/pi/cooldown
ExecStart=/home/pi/cooldown/venv/bin/python /home/pi/cooldown/app.py
Restart=always
RestartSec=2
[Install]
WantedBy=multi-user.target
